.flashcard-list {
    text-align: center;
  }
  
  .guess-input {
    margin-top: 1rem;
  }
  
  .guess-input input {
    padding: 0.5rem;
    width: 60%;
    margin-left: 13%
  }
  
  .guess-input button {
    margin-left: 0.5rem;
    padding: 0.5rem 1rem;
  }
  
  .next-button {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
  }
  
  .feedback-modal {
    margin-top: 1rem;
    padding: 1rem;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
    border-radius: 8px;
    max-width: 700px;
    margin: 1rem auto;
  }
  